version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "globals"

  # - package-ecosystem: "devcontainers"
  #   directory: "/"
  #   schedule:
  #     interval: "weekly"
